.leftSidebar {
  display: flex;
  align-items: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 84px;
  padding-right: 32px;
  padding-left: 32px;
  position: fixed;
  justify-content: space-between;
  min-height: 100vh;
  flex: 1;
  min-width: none;
  z-index: 2;
  box-sizing: border-box;
  
  // &__downControlsBlock {
  // }
  &__wrapper {
    position: relative;
    flex: 1;
    min-width: 300px;
  }
  &__toggle {
    width: 100%;
    min-height: fit-content;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  &__tabs {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 26px;
    flex: 1;
  }
  &__message {
    position: absolute;
    bottom: 23px;
    max-width: 90px;
    right: 0;
    display: flex;
    justify-content: center;
  }
  &__error {
    background-color: red;
    padding: 10px;
  }
  &__success {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 10px;
  }
  &__designerSignature {
    opacity: 0.5;
    display: flex;
    width: 100%;
    margin-top: 17px;
    line-height: normal;
    letter-spacing: 0.2em;
    
    p {
      justify-self: center;
    }
  }
}

// @media (max-height: 800px) {
//   .leftSidebar {
//     &__toggle {
//       height: 225px;
//     }
//   }
// }

@media (max-width: 1024px) {
  .leftSidebar {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 28px;
    flex: none;
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    background-color: var(--background-color);
    min-height: calc(100vh - 76px);
    max-height: 100vh;
    display: flex;
    align-items: center;
    &__downControlsBlock {
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 17px;
      align-items: center;
    }
    &__wrapper {
      flex: none;
      min-width: 300px;
      align-items: center;
      width: 100%;
      padding-left: calc(50% - 480px);
      padding-right: calc(50% - 480px);
      z-index: 1;
      max-height: 100vh;
    }
    &__toggle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__tabs {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-top: 26px;
    }
    &__message {
      position: absolute;
      bottom: 23px;
      max-width: 90px;
      right: 0;
      display: flex;
      justify-content: center;
    }
    &__error {
      background-color: red;
      padding: 10px;
    }
    &__success {
      background-color: var(--secondary-color);
      color: var(--background-color);
      padding: 10px;
    }
    &__designerSignature {
      opacity: 0.5;
      display: flex;
      width: 100%;
      margin-top: 0;
      line-height: normal;
      letter-spacing: 0.2em;
      
      p {
        justify-self: center;
      }
    }
  }
}


@media (max-height: 800px) and (max-width: 1024px) {
  .leftSidebar {
    &__toggle {
      min-height: 200px;
      max-height: 200px;
    }
  }
}