.leftSidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 82.7vh;
  border-right: 1px solid var(--primary-color);
  padding-top: 60px;
  padding-bottom: 84px;
  padding-right: 32px;
  padding-left: 32px;
  min-width: 300px;
}