.rightSidebar {
  flex: 1;
  padding-top: 60px;
  padding-bottom: 84px;
  padding-left: 32px;
  padding-right: 32px;
  border-left: 1px solid var(--primary-color);
  min-width: 300px;
  
  &__wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 144px);
  padding-right: 32px;
    
  }
}