.rightSidebar {
  padding-top: 60px;
  padding-bottom: 84px;
  padding-left: 32px; 
  padding-right: 32px;
  min-width: 300px;
  &__wrapper {
    position: fixed;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-right: calc(50% - 720px);
    // height: 100vh;
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    flex: 1;
  }
  &__item {
    &::before {
      content: "- ";
    }
  }
  &__tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    padding-top: 8px;
  }
}

@media (max-width: 1024px) {
  .rightSidebar {
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 24px; 
    padding-right: 24px;
    border-bottom: 1px solid var(--primary-color);
    &__wrapper {
      position: relative;
      flex: none;
    }
    &__list {
      gap: 12px;
      flex: none;
    }
    &__tabs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;
      padding-top: 8px;
    }
  }
}
@media (max-width: 480px) {
  .rightSidebar {
    padding-top: 12px;
    padding-bottom: 12px;
    &__list {
      gap: 5px;
    }
    &__tabs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;
      padding-top: 4px;
    }
    &__item {
      font-size: 12px;
    }
  }
}

@media (max-height: 800px) and (max-width: 1024px) {
  .rightSidebar {
    padding-top: 12px;
    padding-bottom: 12px;
    &__list {
      gap: 5px;
    }
    &__tabs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;
      padding-top: 4px;
    }
    &__item {
      font-size: 12px;
    }
  }
}