.contacts {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: relative;
  &__main {
    flex: 2;
    padding-top: 60px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 84px;
    display: flex;
    flex-direction: column;
    gap: 130px;
    justify-content: space-between;
    border-right: 1px solid var(--primary-color);
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }
  &__rightSidebar {
    flex: 1;
  }
}