.rightSidebar {
  flex: 1;
  padding-top: 60px;
  padding-bottom: 84px;
  padding-left: 32px;
  min-width: 300px;
  box-sizing: border-box;
  
  &__wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 144px);
    padding-right: calc(50% - 720px);
  }
  &__text {
    padding-bottom: 205px;
  }
  // &__suggestion {
  //   display: flex;
  //   gap: 12px;
  //   align-items: center;
  // }
  // &__point > circle {
  //   fill: var(--secondary-color);
  // }
}

@media (max-width: 1024px) {
  .rightSidebar {
    padding-top: 80px;
    padding-bottom: 0px;
    padding-left: 24px;
    padding-right: 24px;
    min-width: 300px;
    box-sizing: border-box;
    &__wrapper {
      position: relative;
      padding-right: 0;
      height: 100%;
      padding-right: calc(50% - 720px);
    }
    &__text {
      padding-bottom: 0;
    }
  }
  
}
@media (max-height: 1024px) {
  .rightSidebar {
    padding-top:50px;
  }
}

@media (max-height: 800px) {
  .rightSidebar {
    padding-top: 40px;
  }
}

@media (max-height: 650px) {
  .rightSidebar {
    padding-top: 24px;
  }
}