.filters {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 12px;
  flex-wrap: wrap;
  align-self: end;
  min-width: 249px;
  &__activeTab {
    background-color: var(--btn-secondary-bg-hover-color);
    border: 1px solid var(--btn-secondary-border-hover-color);
    color: var(--btn-secondary-text-hover-color);
    opacity: 1;
  }
}
