.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
  box-sizing: border-box;
  
  &__desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__header {
    display: none;
  }
  &__leftSidebar {
    flex: 1;
    box-sizing: border-box;
  }
  &__burgerMenu {
    display: none;
  }
  &__main {
    flex: 3;
    border-left: 1px solid var(--primary-color);
    // min-height: 100vh;
    box-sizing: border-box;
  }
}


@media (max-width: 1024px) {
  .layout {    
    &__desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__header {
      display: flex;
    }
    &__leftSidebar {
      display: none;
    }
    &__burgerMenu {
      display: flex;
      z-index: 2;
      max-height: var(--vpheight);
    }
    &__main {
      border: none;
      padding-top: 76px;
      box-sizing: border-box;
      padding-left: calc(50% - 480px);
      padding-right: calc(50% - 480px);
      width: 100vw;
      // min-height: 100vh;
      min-height: var(--vpheight);
    }
  }
}
