.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
  &__leftSidebar {
    flex: 1;
  }
  &__main {
    flex: 3;
    border-left: 1px solid var(--primary-color);
    min-height: 100%;
  }
}