.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
  padding-bottom: 20px;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  &__link {
    text-decoration: none;
    text-align: center;
    transition: all .5s ease;
    &::before{
      content: '\a0';
      color: var(--background-color);
      transition: all .5s ease;
    }
    &::after{
      content: '\a0';
      color: var(--background-color);
      transition: all .5s ease;
    }
  }
  &__activeLink {
    align-items: center;
    transition: all .5s ease;
    &::before{
      content: '[';
      color: var(--primary-color);
      transition: all .5s ease;
    }
    &::after{
      content: ']';
      color: var(--primary-color);
      transition: all .5s ease;
    }
  }
  &__select {
    &::after {
      content: '\a0';
    }
    &::before {
      content: '\a0';
    }
  }
}

@media (max-width: 1650px) {
  .nav {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

@media (max-width: 1024px) {
  .nav {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    max-width: 100%;
    padding-bottom: 12px;
    &__wrapper {
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      padding-bottom: 12px;
    }
    &__link {
      padding: 10px;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid var(--primary-color);
    }
  }
  
}

@media (max-width: 480px) {
  .nav {
    gap: 8px;
    padding-bottom: 8px;
    &__wrapper {
      padding-bottom: 24px;
    }
    &__link {
      padding: 8px;
      font-size: 12px;
    }
  }
  
}
@media (max-height: 950px) {}