.tabs {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 26px;
  width: 100%;
  // background-color: red;
  .message {
    position: absolute;
    max-width: 90px;
    right: 3%;
    top: -200%;
    bottom: 100%;
    display: flex;
    justify-content: center;
    
  }
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
  // background-color: violet;
  .message {
    position: absolute;
    max-width: 80px;
    right: 10%;
    top: -20%;
    bottom: 50%;
    display: flex;
    justify-content: center;
    
  }
}


.error {
  background-color: red;
  padding: 10px;
}
.success {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 10px;
}

@media (max-width: 1024px) {  
  .tabs {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 26px;
    width: 100%;
    // background-color: red;
    .message {
      position: absolute;
      max-width: 90px;
      right: 0%;
      top: -100%;
      bottom: 50%;
      display: flex;
      justify-content: center;
      
    }
  }
  .btns {
    display: flex;
    flex-direction: row;
    gap: 32px;
    max-width: 960px;
    position: relative;
    text-wrap: nowrap;
    justify-content: space-between;
    .message {
      position: absolute;
      max-width: 80px;
      right: 10%;
      top: -180%;
      bottom: 120%;
      display: flex;
      justify-content: center;
      text-wrap: wrap;
      
    }
  }
  .error {
    font-size: 12px;
  }
  .success {
    font-size: 12px;
  }
}

@media (max-width: 960px) {
  .btns {
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .btns {
    gap: 12px;
  }
}