.rightSidebar {
  padding-top: 60px;
  padding-bottom: 84px;
  padding-left: 32px;
  padding-right: 32px;
  min-width: 300px;
  
  &__wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 32px;
  }
}