// .root {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 120px;
//   height: 50px;
//   transform: translate(-50%, -50%);
//   input {
//     display: none;
//   }
//   .block {
//     position: relative;
//   }
//   .slider {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 1;
//     overflow: hidden;
//     background-color: var(--secondary-color);
//     border-radius: 50px;
//     cursor: pointer;
//     transition: all 1.4s;
//     &:before,
//     &:after {
//       content: "";
//       position: absolute;
//       bottom: 5px;
//       left: 5px;
//       width: 40px;
//       height: 40px;
//       background-color: #ffffff;
//       border-radius: 30px;
//     }
//     &:before {
//       transition: 0.4s;
//     }
//     &:after {
//       transition: 0.5s;
//     }
//   }
//   .wave {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 120px;
//     height: 50px;
//     border-radius: 40px;
//     transition: all 1.4s;
//     &:after {
//       content: "";
//       position: absolute;
//       top: 3px;
//       left: 20%;
//       width: 60px;
//       height: 3px;
//       background: #ffffff;
//       border-radius: 100%;
//       opacity: 0.4;
//     }
//     &:before {
//       content: "";
//       position: absolute;
//       top: 10px;
//       left: 30%;
//       width: 35px;
//       height: 2px;
//       background: #ffffff;
//       border-radius: 100%;
//       opacity: 0.3;
//     }
//   }
//   input:checked + .slider {
//     background-color: transparent;
//     &:before,
//     &:after {
//       transform: translateX(70px);
//     }
//   }
//   input:checked ~ .wave {
//     display: block;
//     background-color: var(--secondary-color);
//   }
// }
$transition-time: .5s; 

.toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: 361px;
  margin-top: 199px;
  padding-bottom: 355px;
  // &__description {    
  // }
  &__text {
    width: 65px;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.5;
  }
  &__arrow {
    position: absolute;
    top: 38px;
    left: 65px;
    opacity: 0;
    transition: all $transition-time ease;
    &_active {
      opacity: 1;
    }
  }
  &__switch {
    position: relative;
    transition: all $transition-time ease-in-out;
    
    input {
      display: none;
    }
    input:checked ~ .toggle__moon{
      opacity: 1;
      top: 25px;
    }
    input:checked ~ .toggle__sun{
      opacity: 0;
      top: -999px;
    }
  }
  &__sun {
    position: absolute;
    opacity: 1;
    top: 25px;
    transition: all $transition-time ease-in-out;
  }
  &__moon {
    position: absolute;
    opacity: 0;
    top: -999px;
    transition: all $transition-time ease-in-out;
  }
  &__developer {
    position: absolute;
    display: flex;
    top: 135px;
    max-width: 234px;
    opacity: 0;
    transition: all $transition-time ease;
    &_active {
      opacity: 1;
    }
  }

  @media (hover: hover) {
    &__sun:hover svg {
      cursor: pointer;
      fill: #FAFF12;
    }
    &__moon:hover path {
      cursor: pointer;
      fill: #f9f9f9;
    }
  }
  @media (hover: none) {
    &__sun:active svg {
      fill: #FAFF12;
    }
    &__moon:active path {
      fill: #f9f9f9;
    }
  }
}