$primary-font: 'Roboto Mono';
$secondary-font: 'actay_widebold';
$yellow-color: #FAFF12;
$green-color: #BAF415;

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

:root[data-theme="light"] {
  --background-color: #f9f9f9;
  --primary-color: #222222;
  --secondary-color: #BAF415;
  --btn-bg-color: var(--primary-color);
  --btn-bg-hover-color: var(--secondary-color);
  --btn-text-hover-color: var(--primary-color);
  --btn-text-color: var(--background-color);
  --btn-border-color: var(--secondary-color);
  --btn-border-hover-color: var(--secondary-color);
  --drop-color: #222222;
  --drop-color-hover: #222222;
  --drop-bg: #f9f9f9;
  --drop-bg-hover: #baf415;
  --drop-border: #baf415;
  --drop-border-hover: #baf415;
}

:root[data-theme="dark"] {
  --background-color: #222222;
  --primary-color: #f9f9f9;
  --secondary-color: #FAFF12;
  --btn-bg-color: var(--secondary-color);
  --btn-bg-hover-color: var(--primary-color);
  --btn-text-hover-color: var(--background-color);
  --btn-text-color: var(--background-color);
  --btn-border-color: var(--secondary-color);
  --btn-border-hover-color: var(--primary-color);
  --drop-color: #222222;
  --drop-color-hover: #222222;
  --drop-bg: #f9f9f9;
  --drop-bg-hover: #faff12;
  --drop-border: #f9f9f9;
  --drop-border-hover: #faff12;
}

body {
  background: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: $primary-font, 'monospace';
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  transition: all .5s ease;

}

h1 {
  font-family: $secondary-font, 'sans-serif';
  font-size: 76px;
  line-height: 90%;
  font-weight: bold;
  letter-spacing: 0%;
  color: var(--primary-color);
  transition: all .5s ease;
}
h2 {
  font-family: $secondary-font, 'sans-serif';
  font-size: 48px;
  line-height: 90%;
  font-weight: bold;
  letter-spacing: 0%;
  color: var(--primary-color);
  transition: all .5s ease;
}
.text {
  font-family: $primary-font, 'monospace';
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0%;
  font-style: normal;
  color: var(--primary-color);
  transition: all .5s ease;
}
.small-text {
  font-family: $primary-font, 'monospace';
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: auto;
  letter-spacing: 0%;
  font-style: normal;
  color: var(--primary-color);
  transition: all .5s ease;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}

.primary-btn {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: 1px solid var(--btn-bg-color);
  display: flex;
  justify-content: center;
  transition: all .5s ease;
  @media (hover: hover) {
    &:hover {
      background-color: var(--btn-bg-hover-color);
      border: 1px solid var(--btn-border-hover-color);
      color: var(--btn-text-hover-color);
    }
  }
  @media (hover: none) {
    &:active {
      background-color: var(--btn-bg-hover-color);
      border: 1px solid var(--btn-border-hover-color);
      color: var(--btn-text-hover-color);
    }
  }
}


@media (max-width: 1023px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
}