@import url('./assets/fonts/stylesheet.css');

$primary-font: 'Roboto Mono';
$secondary-font: 'actay_widebold';
$yellow-color: #FAFF12;
$green-color: #BAF415;

::-webkit-scrollbar {
  width: 0;
}

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

:root[data-theme="light"] {
  --background-color: #f9f9f9;
  --primary-color: #222222;
  --secondary-color: #BAF415;

  --btn-bg-color: #222222;
  --btn-bg-hover-color: #BAF415;
  --btn-text-hover-color: #222222;
  --btn-text-color: #f9f9f9;
  --btn-border-color: #BAF415;
  --btn-border-hover-color:#BAF415;

  --btn-secondary-bg-color: #f9f9f9;
  --btn-secondary-bg-hover-color: #BAF415;
  --btn-secondary-text-hover-color: #222222;
  --btn-secondary-text-color: #222222;
  --btn-secondary-border-color: #222222;
  --btn-secondary-border-hover-color:#222222;

  --btn-third-bg-color: #222222;
  --btn-third-bg-hover-color: #BAF415;
  --btn-third-text-hover-color: #222222;
  --btn-third-text-color: #f9f9f9;
  --btn-third-border-color: #222222;
  --btn-third-border-hover-color:#BAF415;

  --drop-color: #222222;
  --drop-color-hover: #222222;
  --drop-bg: #f9f9f9;
  --drop-bg-hover: #baf415;
  --drop-border: #baf415;
  --drop-border-hover: #baf415;
}

:root[data-theme="dark"] {
  --background-color: #222222;
  --primary-color: #f9f9f9;
  --secondary-color: #FAFF12;

  --btn-bg-color: #FAFF12;
  --btn-bg-hover-color: #f9f9f9;
  --btn-text-hover-color: #222222;
  --btn-text-color: #222222;
  --btn-border-color: #FAFF12;
  --btn-border-hover-color: #f9f9f9;

  --btn-secondary-bg-color: #222222;
  --btn-secondary-bg-hover-color: #FAFF12;
  --btn-secondary-text-hover-color: #222222;
  --btn-secondary-text-color: #f9f9f9;
  --btn-secondary-border-color: #f9f9f9;
  --btn-secondary-border-hover-color:#FAFF12;

  --btn-third-bg-color: #222222;
  --btn-third-bg-hover-color: #FAFF12;
  --btn-third-text-hover-color: #222222;
  --btn-third-text-color: #f9f9f9;
  --btn-third-border-color: #f9f9f9;
  --btn-third-border-hover-color:#FAFF12;

  --drop-color: #222222;
  --drop-color-hover: #222222;
  --drop-bg: #f9f9f9;
  --drop-bg-hover: #faff12;
  --drop-border: #f9f9f9;
  --drop-border-hover: #faff12;
}

body {
  background: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: $primary-font, 'monospace';
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  transition: all .5s ease;

  
  height: 100vh;
  height: calc(var(--vh, 1vh)*100);
}

h1 {
  font-family: $secondary-font, 'sans-serif';
  font-size: 76px;
  line-height: 90%;
  font-weight: bold;
  letter-spacing: 0%;
  color: var(--primary-color);
  transition: all .5s ease;
}
h2 {
  font-family: $secondary-font, 'sans-serif';
  font-size: 48px;
  line-height: 90%;
  font-weight: bold;
  letter-spacing: 0%;
  color: var(--primary-color);
  transition: all .5s ease;
}
.text, 
p, 
button, 
a,
input,
form,
div {
  font-family: $primary-font, 'monospace';
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0%;
  font-style: normal;
  color: var(--primary-color);
  transition: all .5s ease;
  user-select: none;
}
.small-text {
  font-family: $primary-font, 'monospace';
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: auto;
  letter-spacing: 00%;
  font-style: normal;
  color: var(--primary-color);
  transition: all .5s ease;
  text-align: justify;
}
a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
}
button {
  font-size: 16px;
}

.primary-btn {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: 1px solid var(--btn-bg-color);
  display: flex;
  justify-content: center;
  transition: all .5s ease;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      background-color: var(--btn-bg-hover-color);
      border: 1px solid var(--btn-border-hover-color);
      color: var(--btn-text-hover-color);
    }
  }
  @media (hover: none) {
    &:active {
      background-color: var(--btn-bg-hover-color);
      border: 1px solid var(--btn-border-hover-color);
      color: var(--btn-text-hover-color);
    }
  }
}

.secondary-btn {
  padding: 4px 6px;
  background-color: var(--btn-secondary-bg-color);
  color: var(--btn-secondary-text-color);
  border: 1px solid var(--btn-secondary-border-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  font-size: 12px;
  transition: all .3s ease;
  cursor: pointer;
  box-shadow: none;
  outline: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--btn-secondary-bg-hover-color);
      border: 1px solid var(--btn-secondary-border-hover-color);
      color: var(--btn-secondary-text-hover-color);
      opacity: 1;
    }
  }
  @media (hover: none) {
    &:active {
      background-color: var(--btn-secondary-bg-hover-color);
      border: 1px solid var(--btn-secondary-border-hover-color);
      color: var(--btn-secondary-text-hover-color);
      opacity: 1;
    }
  }
}

.third-btn {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--btn-third-bg-color);
  color: var(--btn-third-text-color);
  border: 1px solid var(--btn-third-border-color);
  display: flex;
  justify-content: center;
  transition: all .5s ease;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      background-color: var(--btn-third-bg-hover-color);
      border: 1px solid var(--btn-third-border-hover-color);
      color: var(--btn-third-text-hover-color);
    }
  }
  @media (hover: none) {
    &:active {
      background-color: var(--btn-third-bg-hover-color);
      border: 1px solid var(--btn-third-border-hover-color);
      color: var(--btn-third-text-hover-color);
    }
  }
}

.tab {
  padding: 4px 6px;
  box-shadow: none;
  background-color: var(--btn-secondary-bg-color);
  color: var(--btn-secondary-text-color);
  border: 1px solid var(--btn-secondary-border-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  transition: all .5s ease;
  opacity: 0.7;
  font-size: 12px;
  width: fit-content;
}

.link {
  box-sizing: border-box;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  position: relative;
  &::after {
    margin-top: 3px;
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--primary-color);
    content: "";
    transition: width 0.5s ease-out;
  }
  &:focus::after {
    width: 100%;
  }
  @media (hover: hover) {
    &:hover::after {
      width: 100%;
    }
  }
  @media (hover: none) {
    &:active::after {
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 1050px) {
  h1 {
    font-size: 64px;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }
  .secondary-btn {
    font-size: 16px;
  }
  .primary-btn {
    font-size: 16px;
  }
  .third-btn {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  h1 {
    font-size: 32px;
    text-wrap: wrap;
  }
  h2 {
    font-size: 28px;
  }
  .text {
    font-size: 16px;
  }
  .secondary-btn {
    padding: 2px 4px;
    font-size: 16px;
  }  
  .third-btn {
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .tab {
    padding: 2px 4px;
    font-size: 10px;
  }
  .link {
    font-size: 16px;
  }
  .small-text {
    font-size: 10px;
    font-optical-sizing: auto;
    font-weight: 500;
    letter-spacing: 0%;
    width: 100%;
  }
}
@media (max-width: 585px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .text {
    font-size: 12px;
  }
}
@media (max-width: 415px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
}

// @media (min-width: 1025px) and (max-height: 800px) {
//   .secondary-btn {
//     padding: 2px 4px;
//     font-size: 12px;
//   }  
//   .third-btn {
//     font-size: 12px;
//     padding-top: 14px;
//     padding-bottom: 14px;
//   }
//   .tab {
//     padding: 2px 4px;
//     font-size: 10px;
//   }
//   .link {
//     font-size: 12px;
//   }
//   .small-text {
//     font-size: 8px;
//   }
// }